# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint

# Build / test artifacts
build/
*.o
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editors
.idea/
.vscode/
*.swp
*~
